
@font-face {

           src: url('bebasneue_regular-webfont.eot');
            src: url('bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_regular-webfont.woff2') format('woff2'),
         url('bebasneue_regular-webfont.woff') format('woff'),
         url('bebasneue_regular-webfont.ttf') format('truetype'),
         url('bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
         font-weight:100;
        font-family: "Bebas Neue"
}



html,body {
    height: 100%;
    overflow: auto;
}



@media (max-width:800px) {

    .cont {
        margin-top:10rem;
    }


    html {

    font-size:23.41%;
    }


    p { 

    line-height: 150%;
    margin-bottom: 2.4rem;
}

}

@media (min-width:1000px) {

    .cont {
    position: relative;
    top:12rem;
}

    html {
    font-size:31.25%;
}

    p { 

    line-height: 150%;
    margin-bottom: 2.4rem;
}

}


@media (min-width:1200px) {

    .cont {
    position: relative;
    top:16rem;
}

    html {
    font-size:46.875%;
}

    p { 

    line-height: 150%;
    margin-bottom: 2.4rem;
}

}


@media (min-width:1600px) {

    .cont {
    position: relative;
    top:16rem;
}

    html {
    font-size:62.5%;
}

    p { 

    line-height: 150%;
    margin-bottom: 2.4rem;
}

}








p { letter-spacing: 0.8rem;
    font-family: "Bebas Neue";
    font-size:4.8rem;
    color:#ee3823;
}

#fadeintext {
    padding-left:5%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
}

.name {
    opacity: 0;
    margin-top:2.4rem;
    color:white;
    text-align: right;
    margin-right:12rem;
}

span {
    opacity: 0;
}


